SECRET_KEY=f4346be85a1a6261696e31c9963ab329718c542e7f090d4306e6d5741ba4e76c

  DB_USER=root
  DB_PASSWORD=
  DB_HOST=localhost
  DB_NAME=prodify_db

  PUBLIC_BASE_URL=http://127.0.0.1:5000

  # Correo (opcional, dejar vacio si no se usa)
  SMTP_HOST=
  SMTP_PORT=587
  SMTP_USE_TLS=1
  SMTP_USER=
  SMTP_PASSWORD=
  SMTP_FROM=
